<div class="sidebar">
    <h2>404</h2>
    <button class="menu-toggle" id="menu-toggle">
        <span></span>
        <span></span>
        <span></span>
    </button>

    <a href="/" class="nav-item active">トップに戻る</a>
</div>

<div class="main-content">
    <h1>404 - ページがありません。</h1>
</div>